<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
    <!-- dev文件路径 -->
    <property name="DEV_FILE_PATH" value="/home/uu/uu-logs/uu-web-passenger/dev" />
    <!-- test文件路径 -->
    <property name="TEST_FILE_PATH" value="/home/uu/uu-logs/uu-web-passenger/test" />
    <!-- pro文件路径 -->
    <property name="PRO_FILE_PATH" value="/home/uu/uu-logs/uu-web-passenger/pro" />
    <!-- 配置日志的滚动时间 -->
    <property name="maxHistory" value="30"/>
    <property name="fileSize" value="8MB"/>
    <!-- 日志最低级别 -->
    <property name="ROOT_LEVEL" value="DEBUG" />

    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="DEV_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger %line --%mdc{client} [%X{traceId}] %msg%n</pattern>
            </encoder>
        </appender>

        <!-- DUBUG日志 -->
        <appender name="DEV_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${DEV_FILE_PATH}/debug.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${DEV_FILE_PATH}/debug/debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <!--格式化输出：%d表示日期，%thread表示线程名，%class{5}:%line：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger %line --%mdc{client} [%X{traceId}] %msg%n</pattern>
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} [%class:%line] - %m%n</pattern>  -->
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>DEBUG</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- INFO日志 -->
        <appender name="DEV_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${DEV_FILE_PATH}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${DEV_FILE_PATH}/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger %line --%mdc{client} [%X{traceId}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- WARN日志 -->
        <appender name="DEV_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${DEV_FILE_PATH}/warn.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${DEV_FILE_PATH}/warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger %line --%mdc{client} [%X{traceId}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>WARN</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- ERROR日志 -->
        <appender name="DEV_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${DEV_FILE_PATH}/error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${DEV_FILE_PATH}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger %line --%mdc{client} [%X{traceId}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- ERROR错误发送邮件 -->
        <appender name="DEV_EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
            <smtpHost>smtp.163.com</smtpHost>
            <username>liuy930723@163.com</username>
            <password>123456geren</password>
            <to>a1754966750@qq.com</to>
            <from>liuy930723@163.com</from>
            <subject>开发-乘客端web-BUG</subject>
            <layout class="ch.qos.logback.classic.html.HTMLLayout" >
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] %logger %line --%mdc{client} [%X{traceId}] %msg%n</pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- 其它日志 -->
        <logger name="com.uu" level="debug"/>
        <logger name="org.springframework" level="error" />
        <logger name="org.apache.ibatis" level="error" />
        <logger name="org.mybatis" level="error" />
        <logger name="org.apache.shiro" level="error" />
        <logger name="org.hibernate.validator" level="error" />
        <logger name="org.thymeleaf" level="error" />

        <root level="${ROOT_LEVEL}">
            <appender-ref ref="DEV_CONSOLE" />
            <appender-ref ref="DEV_DEBUG" />
            <appender-ref ref="DEV_INFO" />
            <appender-ref ref="DEV_WARN" />
            <appender-ref ref="DEV_ERROR" />
<!--            <appender-ref ref="DEV_EMAIL" />-->
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <!-- DUBUG日志 -->
        <appender name="TEST_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${TEST_FILE_PATH}/debug.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${TEST_FILE_PATH}/debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <!--格式化输出：%d表示日期，%thread表示线程名，%class{5}:%line：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%d{HH:mm:ss.SSS} [%thread][%class{0}.%method\(\): at %line][%logger{0}] %msg%n</pattern>
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} [%class:%line] - %m%n</pattern>  -->
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>DEBUG</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- INFO日志 -->
        <appender name="TEST_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${TEST_FILE_PATH}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${TEST_FILE_PATH}/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread][%class{0}.%method\(\): at %line][%logger{0}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- WARN日志 -->
        <appender name="TEST_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${TEST_FILE_PATH}/warn.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${TEST_FILE_PATH}/warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread][%class{0}.%method\(\): at %line][%logger{0}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>WARN</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- ERROR日志 -->
        <appender name="TEST_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${TEST_FILE_PATH}/error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${TEST_FILE_PATH}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread][%class{0}.%method\(\): at %line][%logger{0}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- ERROR错误发送邮件 -->
        <appender name="TEST_EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
            <smtpHost>smtp.163.com</smtpHost>
            <username>liuy930723@163.com</username>
            <password>123456geren</password>
            <to>a1754966750@qq.com</to>
            <from>liuy930723@163.com</from>
            <subject>测试-运营后台web-BUG</subject>
            <layout class="ch.qos.logback.classic.html.HTMLLayout" >
                <pattern>%date%level%thread%logger{0}%line%message</pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <root level="${ROOT_LEVEL}">
            <appender-ref ref="TEST_DEBUG" />
            <appender-ref ref="TEST_INFO" />
            <appender-ref ref="TEST_WARN" />
            <appender-ref ref="TEST_ERROR" />
            <appender-ref ref="TEST_EMAIL" />
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="pro">
        <!-- INFO日志 -->
        <appender name="PRO_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PRO_FILE_PATH}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${PRO_FILE_PATH}/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread][%class{0}.%method\(\): at %line][%logger{0}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- WARN日志 -->
        <appender name="PRO_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PRO_FILE_PATH}/warn.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${PRO_FILE_PATH}/warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread][%class{0}.%method\(\): at %line][%logger{0}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>WARN</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- ERROR日志 -->
        <appender name="PRO_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PRO_FILE_PATH}/error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${PRO_FILE_PATH}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches 100MB -->
                    <maxFileSize>${fileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread][%class{0}.%method\(\): at %line][%logger{0}] %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- ERROR错误发送邮件 -->
        <appender name="PRO_EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
            <smtpHost>smtp.163.com</smtpHost>
            <username>liuy930723@163.com</username>
            <password>123456jin</password>
            <to>a1754966750@qq.com</to>
            <from>liuy930723@163.com</from>
            <subject>生产-运营后台web-BUG</subject>
            <layout class="ch.qos.logback.classic.html.HTMLLayout" >
                <pattern>%date%level%thread%logger{0}%line%message</pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <!--满足结果就写入,不满足结果就拒绝写入 -->
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- 其它日志 -->
        <logger name="com.uu" level="info"/>
        <logger name="org.springframework" level="error" />
        <logger name="org.apache.ibatis" level="error" />
        <logger name="org.mybatis" level="error" />
        <logger name="org.apache.shiro" level="error" />
        <logger name="org.hibernate.validator" level="error" />
        <logger name="org.thymeleaf" level="error" />

        <root level="${ROOT_LEVEL}">
            <appender-ref ref="PRO_INFO" />
            <appender-ref ref="PRO_WARN" />
            <appender-ref ref="PRO_ERROR" />
            <appender-ref ref="PRO_EMAIL" />
        </root>
    </springProfile>
</configuration>