<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PayRefundMapper">
  <resultMap id="BaseResultMap" type="com.entity.PayRefund">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="refund_no" jdbcType="VARCHAR" property="refundNo" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="refund_fee" jdbcType="VARCHAR" property="refundFee" />
    <result column="refund_reason" jdbcType="VARCHAR" property="refundReason" />
    <result column="refund_method" jdbcType="VARCHAR" property="refundMethod" />
    <result column="refund_status" jdbcType="VARCHAR" property="refundStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_refund
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.PayRefund">
    insert into pay_refund (id, trade_no, refund_no, 
      pay_type, refund_fee, refund_reason, 
      refund_method, refund_status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{tradeNo,jdbcType=VARCHAR}, #{refundNo,jdbcType=VARCHAR}, 
      #{payType,jdbcType=TINYINT}, #{refundFee,jdbcType=VARCHAR}, #{refundReason,jdbcType=VARCHAR}, 
      #{refundMethod,jdbcType=VARCHAR}, #{refundStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.entity.PayRefund">
    update pay_refund
    set trade_no = #{tradeNo,jdbcType=VARCHAR},
      refund_no = #{refundNo,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=TINYINT},
      refund_fee = #{refundFee,jdbcType=VARCHAR},
      refund_reason = #{refundReason,jdbcType=VARCHAR},
      refund_method = #{refundMethod,jdbcType=VARCHAR},
      refund_status = #{refundStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, trade_no, refund_no, pay_type, refund_fee, refund_reason, refund_method, 
    refund_status, create_time, update_time
    from pay_refund
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, trade_no, refund_no, pay_type, refund_fee, refund_reason, refund_method, 
    refund_status, create_time, update_time
    from pay_refund
  </select>
</mapper>